.filter-content {
  display: flex;
  justify-content: space-between;
  margin: 48px auto;
}

table {
  text-align: left;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid;
  padding: 2px 8px;

  font-size: 1.2rem;
}
table td {
  padding: 5px 8px;
}

.page-invisible {
  display: none;
}
